html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
  
body {
    margin: 0;
    font-family: 'Poppins', 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #FAF8F4;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}
  
h2, .h2 {
    font-size: 2rem;
}
  
h3, .h3 {
    font-size: 1.75rem;
}
  
h4, .h4 {
    font-size: 1.5rem;
}
  
h5, .h5 {
    font-size: 1.25rem;
}
  
h6, .h6 {
    font-size: 1rem;
}

a:link {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 56px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      padding-top: 30px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      padding-top: 56px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
}


/* -------- Sidenav -------- */ 

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #0E3E78;
}

.sidenav-brand {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: 5px;
    color: #0E3E78;
}

.sidenav-about {
    padding: 0px 20px;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    color: #9D9D9D;
}

.about-box {
    display: none;
    position: fixed;
    top: 20px;
    background-color: #FAF8F4;
    border: 1px solid #0E3E78;
    color: #212529;
    padding: 1rem;
    z-index: 2;
    text-align: left;
    width: 25rem;
}

.sidenav a {
    color: #9D9D9D;
}

.sidenav a:visited {
    color: #9D9D9D;
}

.sidenav a:hover, .sidenav a:active {
    cursor: pointer;
    color: #0E3E78;
}

.sidenav a:hover+.about-box {
    display: block;
}


  
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 20px 10px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar button.btn-filter {float: left;}
    .sidebar .btn-container {
        display: inline-block;
        border-bottom: none;
    }
    div.main {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}


/* -------- Filter -------- */ 
  
.filterDiv {
    display: none; /* Hidden by default */
}
  
/* The "show" class is added to the filtered elements */
.show {
    display: block;
}
  
/* Style the buttons */

.btn-container {
    display: block;
}

.btn-filter {
    font-family: 'Lato';
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 22px 20px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background-color: #FAF8F4;

	color: #000;
	text-decoration: none;
}



.btn-filter:hover, .btn-filter:focus {
    font-weight: 700;
    color: #0E3E78;

}
  
.btn-filter.active {
    font-weight: 700;
    color: #0E3E78;
}

button:focus {
    outline: none;
}

/* hover effect from https://codepen.io/geoffgraham/pen/bxEVEN */

/* -------- top right -------- */ 


/* -------- Library Entries -------- */ 

.lib-book {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    background-clip: border-box;
    padding: 1.25rem;
    margin-bottom: 1rem;
    position: relative;
}

.lib-book::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #0E3E78;
    transition: width 1s;
}

.lib-book:hover::after {
    width:75%
}

.lib-book-left, .lib-book-right {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.lib-book-left {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}


.lib-series {
    display: block;
    color: #9D9D9D;
    font-size: 0.9rem;
    padding-bottom: 0.6rem;
}

.lib-title {
    display: block;
    font-weight: 600;
    color: #0E3E78;
}

.lib-speaker {
    font-size: 1rem;
    font-weight: 500;
    color: #7F93AB;
}

.lib-desc {
    display: block;
    font-family: 'Lato';
    font-size: 1rem;
    color: #5F5F5F;
    display: none;
}

.lib-book:hover .lib-desc {
    display: block;
}

.lib-date {
    font-family: 'Lato';
    font-size: 1rem;
    color: #7a7a7a;
}

.lib-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    background-color: #888888;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.lib-btn:hover {
    color: #ffffff;
    background-color: #c9c9c9;
    text-decoration: none;
}