.container {
    overflow: hidden;
  }
  
  .filterDiv {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn-filter {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  
  /* Add a light grey background on mouse-over */
  .btn-filter:hover {
      background-color: rgb(212, 212, 212);
  }
  
  /* Add a dark background to the active button */
  .btn-filter.active {
    background-color: #666;
    color: white;
  }